<h1>Add Trip</h1>

<form (ngSubmit)="onSubmit()">

  <div>
    <label>Code</label><br />
    <input type="text" name="code" [(ngModel)]="trip.code" required />
  </div>

  <div style="margin-top: 10px;">
    <label>Name</label><br />
    <input type="text" name="name" [(ngModel)]="trip.name" required />
  </div>

  <div style="margin-top: 10px;">
    <label>Length</label><br />
    <input type="text" name="length" [(ngModel)]="trip.length" required />
  </div>

  <div style="margin-top: 10px;">
    <label>Start</label><br />
    <input type="date" name="start" [(ngModel)]="trip.start" />
  </div>

  <div style="margin-top: 10px;">
    <label>Resort</label><br />
    <input type="text" name="resort" [(ngModel)]="trip.resort" />
  </div>

  <div style="margin-top: 10px;">
    <label>Per Person</label><br />
    <input type="number" name="perPerson" [(ngModel)]="trip.perPerson" />
  </div>

  <div style="margin-top: 15px;">
    <button type="submit">Save Trip</button>
    <a routerLink="/" style="margin-left: 10px;">Cancel</a>
  </div>

</form>

<p *ngIf="errorMsg" style="color:red; margin-top: 10px;">
  {{ errorMsg }}
</p>